.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
	justify-content: flex-start;
    justify-content: space-between;
	align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}

button:hover {
	opacity: 90%;
}



.amenities,
.locations {
    height: 100%;
    width: 25%;
    color: black;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
}


.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    color: rgb(0 0 0 /70%);
    margin-top: 0;
}

.locations h4,
.locations h3 {
    margin-left: 15%;
}

.amenities {
    position: relative;
    right: 130px;
}

.amenities h3,
.amenities h4 {
    text-indent: 40px;
}

ul,
li {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 0;

}

.popover {
    background-color: #FAFAFA;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    list-style: none;
    text-align: left;

}

.locations .popover ul {
    width: auto;
    list-style: none;
    padding-left: 15px;
}

.locations .popover h2 {
    margin-bottom: 0;
    font-size: 16px;
}
.locations ul{
    width: auto;
    padding-left: 25px;
}

.amenities .popover {
    padding: 25px 0;
    display: none;
}

.locations .popover {
    display: none;
}
.amenities .popover li {
    width: auto;
    padding: 0 0 5px 40px;
    color: rgb(0 0 0/70%);
}

.locations .popover ul li {
    color: rgb(0 0 0 /70%);
}
.amenities:hover .popover,
.locations:hover .popover {
    display: block;

}
